/* Resetando margens e padding globais */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container centralizado */
.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 400px;
    max-width: 500px;
}

/* Título */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Estilização dos labels */
label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Estilização dos inputs de texto e arquivo */
input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Estilização do botão */
button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: rgb(44, 62, 80);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    background-color: #34495e;
}

/* Link de voltar */
.back-link {
    display: block;
    text-align: center;
    margin-top: 25px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

.back-link:hover {
    color: #34495e;
}
