/* Resetando margens e padding globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Sego UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Formulário de registro */
form {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    width: 600px;
    height: 450px;
    position: relative;
}

/* Título do formulário */
.form-title {
    text-align: center;
}

/* Mensagens flash */
.flash-message {
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
    transition: opacity 1s ease-out; /* Animação de transição suave */
}

/* Mensagem de sucesso */
.flash-success {
    background-color: #e6f9ee;
    color: #2e7d32;
    border: 1px solid #c1eac5;
}

/* Mensagem de erro */
.flash-danger {
    background-color: #ffe6e6;
    color: #c0392b;
    border: 1px solid #f5c6cb;
}

/* Efeito de fade-out */
.flash-message.fade-out {
    opacity: 0;
}

/* Estilo dos inputs */
input {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Estilo do botão */
button {
    width: 100%;
    background: rgb(44, 62, 80);
    color: white;
    padding: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #34495e;
}

/* Estilo do link para login */
.login-link {
    text-align: center;
    margin-top: 10px;
}

.login-link a {
    text-decoration: none;
    color: #2c3e50;
}

.login-link a:hover {
    text-decoration: underline;
}

h2 {
    margin-bottom: 15px;
}