<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Minhas Conexões</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/conexoes.css') }}"/>
</head>
<body>
  <div class="container">
        <h2>👥 Minhas Conexões</h2>

        <h3>👤 Quem eu sigo</h3>
    <ul>
      {% for c in seguindo %}
        <li>{{ c.seguido.nome }} - ID: {{ c.seguido_id }}</li>
      {% endfor %}
    </ul>

    <h3>👣 Quem me segue</h3>
    <ul>
      {% for c in seguidores %}
        <li>{{ c.seguidor.nome }} - ID: {{ c.seguidor_id }}</li>
      {% endfor %}
    </ul>

    <h3>➕ Usuários disponíveis para seguir</h3>
    <ul>
      {% for usuario in usuarios %}
        <li>
          {{ usuario.nome }}
          <a href="{{ url_for('seguir', usuario_id=usuario.id) }}">Seguir</a>
        </li>
      {% endfor %}
    </ul>

    <h3>📤 Pedidos de seguir enviados</h3>
    <ul>
      {% for pedido in pedidos_enviados %}
        <li>
          Para: {{ pedido.destinatario.nome }} - Status: {{ pedido.status }}
        </li>
      {% endfor %}
    </ul>


  </div>
</body>
</html>
